body{
    background-image: url("06358bdf42aecdf094bf.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{ 
    font-family: 'Playwrite VN Guides';
    color:blanchedalmond
  
}
div{ 
    font-style:italic;
    font-size: 50px;
    color:antiquewhite;
}
button{ 
    padding: 45px 60px;
    font-size: 40px;
    border-radius: 50px;
    background-color: wheat;
    color: white; 
    border: none;
    cursor: pointer;
}
input[type="radio"] {
  transform: scale(1.5);
  margin-right: 8px;
}
label {
  font-size: 20px;
  margin-bottom: 10px; 
  display: block;

}